@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Hanken Grotesk', serif;
}

body {
  background-color: #282726;
}

div#root {
  position: relative;
}

button.disabled {
  @apply opacity-50 pointer-events-none;
}
